.version.index /* version checker */
{
	color: #0000F4;
	background-color: #0F9F4F;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 3278px;
	background-image: none;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;/* should not cover content below */
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u100-3,#u100-3-bw
{
	z-index: 165;
	min-height: 62px;
}

#u103-4
{
	z-index: 168;
	width: 134px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 117px;
}

#u107-4
{
	z-index: 172;
	width: 49px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 868px;
}

#u110-4
{
	z-index: 176;
	width: 71px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 935px;
}

#u113-4
{
	z-index: 180;
	width: 71px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 1017px;
}

#pu100-3,#pu209
{
	width: 0.01px;
	margin-left: -100px;
}

#u209
{
	z-index: 3;
	height: 580px;
	-pie-box-shadow: none;
	box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	background: #000000 url("../images/_igp5950.jpg") no-repeat center center;
	background-size: cover;
}

#u209-bw
{
	z-index: 3;
	height: 580px;
}

#u212-4
{
	z-index: 4;
	width: 658px;
	min-height: 91px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 72px;
	line-height: 86px;
	font-family: sofia-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 219px;
	left: 271px;
}

#u227
{
	z-index: 42;
	min-height: 94px;
	-pie-box-shadow: 4px 4px 8px #6D6D6D;
	box-shadow: 4px 4px 8px rgba(0,0,0,0.57);
	background-color: #EAEAEA;
	padding-bottom: 31px;
}

#u236-4
{
	z-index: 43;
	width: 349px;
	min-height: 63px;
	background-color: transparent;
	color: #7F7F7F;
	text-align: center;
	font-size: 48px;
	line-height: 58px;
	font-family: sofia-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 425px;
}

#u227-bw
{
	z-index: 42;
	min-height: 94px;
}

#u847
{
	z-index: 30;
	min-height: 365px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1970FF;
	padding-bottom: 28px;
}

#u227_align_to_page,#u847_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1000px;
	left: -100px;
}

#pu853-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 78px;
	margin-left: 120px;
}

#u853-4
{
	z-index: 35;
	width: 176px;
	min-height: 64px;
	background-color: transparent;
	color: #EAEAEA;
	font-size: 44px;
	line-height: 53px;
	font-family: sofia-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u850-4
{
	z-index: 31;
	width: 526px;
	min-height: 124px;
	background-color: transparent;
	color: #EAEAEA;
	font-size: 22px;
	line-height: 26px;
	font-family: sofia-pro, sans-serif;
	font-weight: 300;
	margin-top: 17px;
	position: relative;
}

#u866
{
	z-index: 39;
	width: 338px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.79);
	background-color: transparent;
	border-radius: 1000px;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 742px;
}

#u866 .clip_frame
{
	-webkit-border-radius: 1000px 1000px 1000px 1000px;
}

#u847-bw
{
	z-index: 30;
	min-height: 365px;
}

#u335
{
	z-index: 8;
	min-height: 398px;
	background: #666666 url("../images/11232116_10204358080688440_7132351905136856086_n-u335-fr.png") no-repeat center top;
	background-color: rgba(0,0,0,0.6);
	background-size: cover;
}

#u335_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1000px;
	left: -100px;
	padding-top: 51px;
	padding-bottom: 86px;
}

#u248-4
{
	z-index: 9;
	width: 250px;
	min-height: 32px;
	background-color: transparent;
	text-align: center;
	font-size: 21px;
	color: #FFFFFF;
	letter-spacing: 11px;
	line-height: 25px;
	font-family: sofia-pro, sans-serif;
	font-weight: 300;
	left: 475px;
	position: relative;
}

#u1065
{
	z-index: 47;
	width: 108px;
	background-color: transparent;
	left: 546px;
	margin-top: 32px;
	position: relative;
}

#u254-4
{
	z-index: 13;
	width: 658px;
	min-height: 63px;
	background-color: transparent;
	color: #29ABE2;
	text-align: center;
	font-size: 48px;
	line-height: 58px;
	font-family: sofia-pro, sans-serif;
	font-weight: 300;
	left: 271px;
	margin-top: 14px;
	position: relative;
}

#u257-4
{
	z-index: 17;
	width: 658px;
	min-height: 63px;
	background-color: transparent;
	color: #FFFF00;
	text-align: center;
	font-size: 33px;
	line-height: 40px;
	font-family: sofia-pro, sans-serif;
	font-weight: 300;
	left: 271px;
	position: relative;
}

#u335-bw
{
	z-index: 8;
	min-height: 398px;
}

#u481
{
	z-index: 21;
	min-height: 376px;
	background: #999999 url("../images/somersethousenight-u481-fr.png") no-repeat center top;
	background-color: rgba(0,0,0,0.4);
	background-size: cover;
}

#u481_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1000px;
	left: -100px;
	padding-top: 90px;
	padding-bottom: 90px;
	margin-bottom: -1px;
}

#u1075
{
	z-index: 49;
	width: 106px;
	background-color: transparent;
	left: 547px;
	position: relative;
}

#u796-4
{
	z-index: 22;
	width: 658px;
	min-height: 63px;
	background-color: transparent;
	color: #FF0000;
	text-align: center;
	font-size: 48px;
	line-height: 58px;
	font-family: sofia-pro, sans-serif;
	font-weight: 300;
	left: 271px;
	position: relative;
}

#u797-4
{
	z-index: 26;
	width: 736px;
	min-height: 63px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 33px;
	line-height: 40px;
	font-family: sofia-pro, sans-serif;
	font-weight: 300;
	left: 232px;
	position: relative;
}

#u481-bw
{
	z-index: 21;
	min-height: 376px;
	margin-top: -1px;
}

#u951
{
	z-index: 41;
	min-height: 833.8999999999999px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #000000;
	padding-bottom: 0px;
}

#u951:hover
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	min-height: 834px;
	margin: 0px;
}

#u951_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1000px;
	left: -100px;
	padding-top: 44px;
	padding-bottom: 69px;
}

#u1178-4
{
	z-index: 51;
	width: 250px;
	min-height: 32px;
	background-color: transparent;
	text-align: center;
	font-size: 21px;
	color: #EAEAEA;
	letter-spacing: 11px;
	line-height: 25px;
	font-family: sofia-pro, sans-serif;
	font-weight: 300;
	left: 475px;
	position: relative;
}

#u1205-4
{
	z-index: 58;
	width: 388px;
	min-height: 64px;
	background-color: transparent;
	text-align: center;
	font-size: 39px;
	color: #EAEAEA;
	letter-spacing: 4px;
	line-height: 47px;
	font-family: sofia-pro, sans-serif;
	font-weight: 300;
	left: 406px;
	margin-top: 68px;
	position: relative;
}

#pu1187
{
	width: 0.01px;
	left: 190px;
	margin-top: 33px;
	position: relative;
}

#u1187
{
	z-index: 55;
	width: 244px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/wolfram-corporate-logo-horizontal.png") no-repeat left top;
	background-size: cover;
}

#u1336
{
	z-index: 78;
	width: 244px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u1318
{
	z-index: 79;
	width: 244px;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1318:hover
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-color: #B2B2B2;
	background-color: rgba(127,127,127,0.6);
	width: 244px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(127,127,127,0.6);
}

#u1330-6
{
	z-index: 80;
	width: 244px;
	min-height: 246px;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #FFFFFF;
	text-align: center;
	font-size: 34px;
	line-height: 41px;
	font-family: sofia-pro, sans-serif;
	font-weight: 300;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
}

#u1330-2
{
	padding-top: 80px;
}

#u1190
{
	z-index: 56;
	width: 244px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	left: 288px;
	background: transparent url("../images/matlab.jpg") no-repeat center center;
	background-size: cover;
}

#u1618
{
	z-index: 86;
	width: 244px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
}

#u1620
{
	z-index: 87;
	width: 244px;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1620:hover
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-color: #B2B2B2;
	background-color: rgba(127,127,127,0.6);
	width: 244px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(127,127,127,0.6);
}

#u1619-6
{
	z-index: 88;
	width: 244px;
	min-height: 246px;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	text-align: center;
	color: #FFFFFF;
	font-family: sofia-pro, sans-serif;
	font-weight: 300;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
}

#u1619-2
{
	font-size: 56px;
	line-height: 67px;
	padding-top: 70px;
}

#u1193
{
	z-index: 57;
	width: 244px;
	position: relative;
	margin-right: -10000px;
	left: 576px;
	background: transparent url("../images/java.png") no-repeat center center;
	background-size: cover;
}

#u1320
{
	z-index: 77;
	width: 244px;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u1714
{
	z-index: 94;
	width: 244px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1716
{
	z-index: 95;
	width: 244px;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1716:hover
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-color: #B2B2B2;
	background-color: rgba(127,127,127,0.6);
	width: 244px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(127,127,127,0.6);
}

#u1715-6
{
	z-index: 96;
	width: 244px;
	min-height: 246px;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	text-align: center;
	color: #FFFFFF;
	font-family: sofia-pro, sans-serif;
	font-weight: 300;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
}

#u1715-2
{
	font-size: 67px;
	line-height: 80px;
	padding-top: 55px;
}

#ppu1297-4
{
	width: 0.01px;
	left: 190px;
	margin-top: 36px;
	position: relative;
}

#pu1297-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 288px;
}

#u1297-4
{
	z-index: 66;
	width: 216px;
	min-height: 69px;
	background-color: transparent;
	color: #00FF00;
	text-align: center;
	font-size: 63px;
	line-height: 76px;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	margin-top: 82px;
	left: 14px;
}

#u1197
{
	z-index: 75;
	width: 244px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1735
{
	z-index: 110;
	width: 244px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u1737
{
	z-index: 111;
	width: 244px;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1737:hover
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-color: #B2B2B2;
	background-color: rgba(127,127,127,0.6);
	width: 244px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(127,127,127,0.6);
}

#u1736-6
{
	z-index: 112;
	width: 244px;
	min-height: 246px;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	text-align: center;
	color: #FFFFFF;
	font-family: sofia-pro, sans-serif;
	font-weight: 300;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
}

#u1293-4
{
	z-index: 62;
	width: 182px;
	min-height: 115px;
	background-color: transparent;
	color: #00FF00;
	text-align: center;
	font-size: 101px;
	line-height: 121px;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	left: 31px;
}

#u1315-4
{
	z-index: 70;
	width: 216px;
	min-height: 69px;
	background-color: transparent;
	color: #00FF00;
	text-align: center;
	font-size: 63px;
	line-height: 76px;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	margin-top: 82px;
	left: 590px;
}

#u1198
{
	z-index: 74;
	width: 244px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 576px;
}

#u1744
{
	z-index: 118;
	width: 244px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u1745
{
	z-index: 119;
	width: 244px;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1745:hover
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-color: #B2B2B2;
	background-color: rgba(127,127,127,0.6);
	width: 244px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(127,127,127,0.6);
}

#u1746-6
{
	z-index: 120;
	width: 244px;
	min-height: 246px;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	text-align: center;
	color: #FFFFFF;
	font-family: sofia-pro, sans-serif;
	font-weight: 300;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
}

#u1736-2,#u1746-2
{
	font-size: 28px;
	line-height: 34px;
	padding-top: 83px;
}

#u1196
{
	z-index: 76;
	width: 244px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1726
{
	z-index: 102;
	width: 244px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u1727
{
	z-index: 103;
	width: 244px;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1727:hover
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-color: #B2B2B2;
	background-color: rgba(127,127,127,0.6);
	width: 244px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(127,127,127,0.6);
}

#u1728-6
{
	z-index: 104;
	width: 244px;
	min-height: 246px;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	text-align: center;
	color: #FFFFFF;
	font-family: sofia-pro, sans-serif;
	font-weight: 300;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
}

#u1330-6:hover,#u1619-6:hover,#u1715-6:hover,#u1736-6:hover,#u1746-6:hover,#u1728-6:hover
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 246px;
	width: 244px;
	margin: -1px -10000px -1px 0px;
}

#u1728-2
{
	font-size: 30px;
	line-height: 36px;
	padding-top: 83px;
}

#u951-bw
{
	z-index: 41;
	min-height: 833.8999999999999px;
	margin-top: 1px;
}

#u1768
{
	z-index: 2;
	min-height: 507px;
	background-color: #540009;
}

#u1768_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1000px;
	left: -100px;
	padding-top: 60px;
	padding-bottom: 94px;
}

#u1771-4
{
	z-index: 126;
	width: 938px;
	min-height: 52px;
	background-color: transparent;
	text-align: center;
	font-size: 39px;
	color: #EAEAEA;
	letter-spacing: 4px;
	line-height: 47px;
	font-family: sofia-pro, sans-serif;
	font-weight: 300;
	left: 131px;
	position: relative;
}

#pu1789
{
	width: 0.01px;
	left: 190px;
	margin-top: 58px;
	position: relative;
}

#u1789
{
	z-index: 130;
	width: 244px;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
	background: #FDFDFF url("../images/logo-orcad.svg") no-repeat center center;
	background-size: 250px 100px;
}

.nosvg #u1789
{
	background-image: url('../images/logo-orcad_poster_u1792.png');
}

#buttonu2050
{
	z-index: 133;
	width: 245px;
	border-color: #787878;
	background-color: transparent;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
}

#buttonu2050.ButtonSelected
{
	width: 245px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1951
{
	z-index: 134;
	width: 245px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -15px;
	position: relative;
	margin-right: -10000px;
}

#u1855
{
	z-index: 135;
	width: 244px;
	height: 244px;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	background-color: #7F7F7F;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: relative;
	margin-right: -10000px;
}

#u1945-6
{
	z-index: 136;
	width: 244px;
	min-height: 244px;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	text-align: center;
	color: #FFFFFF;
	font-family: sofia-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u1945-2
{
	font-size: 57px;
	line-height: 68px;
	padding-top: 61px;
}

#u1800
{
	z-index: 131;
	width: 244px;
	padding-bottom: 31px;
	position: relative;
	margin-right: -10000px;
	left: 288px;
	background: #2DB8EC url("../images/photoshop-cc.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u1800
{
	background-image: url('../images/photoshop-cc_poster_u1809.png');
}

#buttonu2105
{
	z-index: 151;
	width: 267px;
	border-color: #787878;
	background-color: transparent;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
}

#buttonu2105.ButtonSelected
{
	width: 267px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1981
{
	z-index: 152;
	width: 245px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -31px;
	position: relative;
	margin-right: -10000px;
}

#u1933
{
	z-index: 153;
	width: 244px;
	height: 244px;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	background-color: #7F7F7F;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u1981:hover #u1933
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	width: 244px;
	height: 244px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
}

#u1963-6
{
	z-index: 154;
	width: 244px;
	min-height: 244px;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	text-align: center;
	color: #FFFFFF;
	font-family: sofia-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u1963-2
{
	font-size: 44px;
	line-height: 53px;
	padding-top: 71px;
}

#u1803
{
	z-index: 132;
	width: 244px;
	padding-bottom: 46px;
	position: relative;
	margin-right: -10000px;
	left: 576px;
	background: #DC59FF url("../images/premiere-cc.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u1803
{
	background-image: url('../images/premiere-cc_poster_u1817.png');
}

#buttonu2102
{
	z-index: 142;
	width: 231px;
	border-color: #787878;
	background-color: transparent;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
}

#buttonu2102.ButtonSelected
{
	width: 231px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1987
{
	z-index: 143;
	width: 244px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -46px;
	position: relative;
	margin-right: -10000px;
}

#u1942
{
	z-index: 144;
	width: 244px;
	height: 244px;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	background-color: #7F7F7F;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: relative;
	margin-right: -10000px;
}

#u1951:hover #u1855,#u1987:hover #u1942
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	width: 244px;
	height: 244px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1984-6
{
	z-index: 145;
	width: 244px;
	min-height: 244px;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	text-align: center;
	color: #FFFFFF;
	font-family: sofia-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u1945-6:hover,#u1963-6:hover,#u1984-6:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 244px;
	width: 244px;
	margin: 0px -10000px 0px 0px;
}

#u1984-2
{
	font-size: 35px;
	line-height: 42px;
	padding-top: 79px;
}

#u1619-4,#u1715-4,#u1736-4,#u1746-4,#u1728-4,#u1945-4,#u1963-4,#u1984-4
{
	font-size: 34px;
	line-height: 41px;
}

#u1768-bw
{
	z-index: 2;
	min-height: 507px;
}

#u154
{
	z-index: 160;
	min-height: 59px;
	padding-bottom: 9px;
}

#u154_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1000px;
	left: -100px;
	margin-bottom: -6px;
}

#u157-4
{
	z-index: 161;
	width: 326px;
	min-height: 35px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 437px;
}

#u154-bw
{
	z-index: 160;
	min-height: 59px;
	margin-top: -6px;
}

.html
{
	background-color: #565656;
}

body
{
	position: relative;
	min-width: 1000px;
}

